<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="error-detail-dto"
         th:data-error-message="${errorMessage}"

    >
    </div>


  <script defer>
      //th:inline="javascript"
      const detailDto = document.querySelector("#error-detail-dto");
      const errorMessage = detailDto.dataset.errorMessage;

    (function(){

      //const errorCode = [[${errorMessage}]]
      //console.log(errorCode);

        if(errorMessage.includes("Matchup")){
            alert(errorMessage)
            window.location.href="/matchup/board";
        } else if(errorMessage.includes("Chat")){
            alert(errorMessage);
            window.close();
        } else if(errorMessage.includes("blockUser")){
            alert(errorMessage);
            window.location.href="/chat/my/rooms"
        }else if(errorMessage.includes(403)){
            alert(errorMessage);
            window.location.href ="/";
        } else if(errorMessage.includes(401)){
            alert(errorMessage);
            window.location.href ="/";
        }
        else{
            alert("알 수 없는 오류로 인해 메인 페이지로 이동합니다.")
            window.location.href="/";
        }

    })()
  </script>

</body>
</html>