<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <style>
        .wrapper{
            flex: 1;
        }
    </style>
</head>
<body>
<div th:replace="~{common/header::header}"></div>
<div class="wrapper">
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
    <h1>hihi</h1>
</div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>