<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="header">
    <div class="navbar">
        <div>
            <img src="/img/matchon_logo.png" alt="Matchon Logo" class="logo">
        </div>
        <div class="center">
            <a th:href="@{/introduction}">INTRODUCTION</a>
            <a th:href="@{/matchup}">MATCHUP</a>
            <a th:href="@{/guest}">GUEST</a>
            <a th:href="@{/stadium}">STADIUM</a>
            <a th:href="@{/community}">COMMUNITY</a>
            <a th:href="@{/schedule}">SCHEDULE</a>
            <a th:href="@{/cs}">CS</a>
            <a th:href="@{/team}">TEAM</a>
            <a th:href="@{/shop}">SHOP</a>
        </div>
        <div class="icons">
            <img src="/img/chat-black.png">
            <img src="/img/bell-black.png">
        </div>
        <div class="auth">
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="btn">LOGIN</a>
                <a th:href="@{/signup}" class="btn">SIGN UP</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/my}" class="btn">MY</span></a>
                <a th:href="@{/logout}" class="btn">LOGOUT</a>
            </th:block>
        </div>
    </div>
    <hr class="blue_hr">
</th:block>


</html>