### 추가
.json
.env
env
.idea/
.gradle/
build/
*.log
*.jar
*.class
src/main/resources/application-test.yml
uploads/
### 아래는 스프링 부트, gitignore.io
HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

**/AdminInitConfig.java

# Dialogflow 서비스 계정 키 파일 무시
*.json
!src/**        # 예: src 내 다른 JSON은 추적하려면 예외 처리
3fb9b0e8-d3eb-4b8f-9fa5-97d566abf91a.json



