server:

  port: ${PORT}

spring:
  profiles:
    active: local
  output:
    ansi:
      enabled: ALWAYS
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket: ${S3_BUCKET}
        base-url: ${S3_BASE_URL}
      region:
        static: ${S3_REGION}
      stack:
        auto: false

matchon:
  kakao-api: ${KAKAO_API_KEY}

---

spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: none
    show_sql: true
  output:
    ansi:
      enabled: ALWAYS
  security:
    user:
      name: user
      password: 1234
      roles: USER
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

---
spring:
  config:
    on-profile: prod
  datasource:
    url: ${DB_PROD_URL}
    username: ${DB_PROD_USER}
    password: ${DB_PROD_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: none
    show_sql: true
  output:
    ansi:
      enabled: ALWAYS
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

jwt:
  secret: ${JWT_SECRET}

file:
  upload-dir: C:/upload-dir

# 1234343455ㅀㄹㄹㄹㄹㄹㄹㅎㅎ dfdfsdfsd