<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 목록</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>
<h1>게시판 목록</h1>

<form id="categoryForm" method="get" action="/list" style="text-align: center;">
  <select name="category" onchange="document.getElementById('categoryForm').submit();">
    <option value="free" th:selected="${category} == 'free'">자유게시판</option>
    <option value="info" th:selected="${category} == 'info'">정보게시판</option>
    <option value="notice" th:selected="${category} == 'notice'">공지사항</option>
  </select>
</form>

<table>
  <thead>
  <tr><th>번호</th><th>제목</th><th>작성자</th><th>작성일</th></tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td><a th:href="@{'/post/' + ${board.id}}" th:text="${board.title}"></a></td>
    <td th:text="${board.author}"></td>
    <td th:text="${board.formattedCreatedAt}"></td>
  </tr>
  </tbody>
</table>

<div style="text-align: center; margin-top: 20px;">
  <a th:href="@{/}" class="home-btn">메인페이지</a>
  <a th:href="@{/write}" class="write-btn">글쓰기</a>
</div>
</body>
</html>

