<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MATCHON</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('matchon.kakao-api')}+'&libraries=services'"></script>
  <script th:src="@{/js/matchup/matchup-rating-detail.js}" defer></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-rating-detail.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">


  <style>
    a {
      display:block;
    }
  </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
  <h1>MATCHUP 매너 온도 평가 상세보기</h1>
  <div id="matchup-rating-detail-dto"
       th:data-board-id="${resMatchupRatingDto.boardId}"  >
  </div>

  <table>
    <tr>
      <th>평가자 </th>
      <td th:text="${resMatchupRatingDto.evalName}" readonly></td>
    </tr>
    <tr>
      <th>평가 대상</th>
      <td th:text="${resMatchupRatingDto.targetName}" readonly></td>
    </tr>
    <tr>
      <th>매너 점수</th>
      <td th:text="${resMatchupRatingDto.mannerScore}" readonly></td>
    </tr>
    <tr>
      <th>실력</th>
      <td th:text="${resMatchupRatingDto.skillScore}" readonly></td>
    </tr>
    <tr>
      <th>리뷰</th>
      <td th:text="${resMatchupRatingDto.review}" readonly></td>
    </tr>
  </table>
  <button class="back-btn">뒤로 가기</button>
  </div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>