<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>MATCHON</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script th:src="@{/js/matchup/matchup-request-board-list.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-request-board-list.css}">

</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <div id="matchup-request-detail-dto"
         th:data-board-id="${resMatchupBoardOverviewDto.boardId}"
         th:data-match-datetime ="${resMatchupBoardOverviewDto.matchDatetime}"
         th:data-match-duration ="${resMatchupBoardOverviewDto.matchDuration}"
         th:data-current-participant-count="${resMatchupBoardOverviewDto.currentParticipantCount}"
         th:data-max-participants="${resMatchupBoardOverviewDto.maxParticipants}"
    >
    </div>
    <h1>MATCHUP board에 요청온 request 목록</h1>
    <div class="back-btn-wrapper">
        <button class="back-btn" onclick="location.href='/matchup/board/my'">뒤로가기</button>
    </div>
    <div class="match-info" th:object="${resMatchupBoardOverviewDto}">
        <p>종목: <span th:text="*{sportsTypeName}">SOCCER</span></p>
        <p class="truncate">경기장: <span th:text="*{sportsFacilityName}"></span></p>
        <p class="truncate">주소: <span th:text="*{sportsFacilityAddress}"></span></p>
        <p>📅 날짜: <span id="match-date"></span></p>
        <p ><span id="match-status"></span></p>
        <p>( <span th:text="*{currentParticipantCount}"></span> / <span th:text="*{maxParticipants}"></span> )</p>
    </div>

    <hr>

    <div id="request-container">

    </div>

    <div id="paging-container">

    </div>

</div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>