<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>MATCHON</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <script th:src="@{/js/matchup/matchup-board-detail.js}" defer></script>
  <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('matchon.kakao-api')}+'&libraries=services'"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-board-detail.css}">
  <style>
    a {
      display:block;
    }
  </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
  <h1>MATCHUP 글 상세보기</h1>
  <div id="matchup-board-detail-dto"
       th:data-board-id="${resMatchupBoardDto.boardId}"
       th:data-writer="${resMatchupBoardDto.writer}"
       th:data-team-name="${resMatchupBoardDto.teamName}"
       th:data-sports-type-name="${resMatchupBoardDto.sportsTypeName}"
       th:data-team-intro="${resMatchupBoardDto.teamIntro}"
       th:data-sports-facility-name="${resMatchupBoardDto.sportsFacilityName}"
       th:data-sports-facility-address="${resMatchupBoardDto.sportsFacilityAddress}"
       th:data-match-datetime="${resMatchupBoardDto.matchDatetime}"
       th:data-match-duration="${resMatchupBoardDto.matchDuration}"
       th:data-current-participant-count="${resMatchupBoardDto.currentParticipantCount}"
       th:data-max-participants="${resMatchupBoardDto.maxParticipants}"
       th:data-min-manner-temperature="${resMatchupBoardDto.minMannerTemperature}"
       th:data-match-description="${resMatchupBoardDto.matchDescription}"
       th:data-original-name="${resMatchupBoardDto.originalName}"
       th:data-saved-name="${resMatchupBoardDto.savedName}"
       th:data-my-temperature="${resMatchupBoardDto.myTemperature}"
       th:data-login-member="${#authentication.name}"
  >
  </div>

  <table>
    <tr>
      <th>종목: </th>
      <td th:text="${resMatchupBoardDto.sportsTypeName}"></td>
    </tr>
    <tr>
      <th>작성자: </th>
      <td id="writer"></td>
    </tr>
    <tr>
      <th>소속팀:</th>
      <td th:text="${resMatchupBoardDto.teamName}"></td>
    </tr>
    <tr>
      <th>팀 소개:</th>
      <td th:text="${resMatchupBoardDto.teamIntro}"></td>
    </tr>
    <tr>
      <th>경기장 예약내역:</th>
      <td th:text="${resMatchupBoardDto.originalName}"></td>
    </tr>
    <tr>
      <th>경기장명:</th>
      <td th:text="${resMatchupBoardDto.sportsFacilityName}"></td>
    </tr>
    <tr>
      <th>경기장 주소:</th>
      <td th:text="${resMatchupBoardDto.sportsFacilityAddress}"></td>
    </tr>
    <tr>
      <th>경기장 위치</th>
      <td>
        <div id="map" style="width:100%;height:350px;"></div>
      </td>
    </tr>
    <tr>
      <th>경기 날짜</th>
      <td id="match-date"></td>
    </tr>
    <tr>
      <th>참가인원</th>
      <td th:text="${'('+ resMatchupBoardDto.currentParticipantCount + ' / '+resMatchupBoardDto.maxParticipants + ')'}"></td>
    </tr>
    <tr>
      <th>신청 가능 여부</th>
      <td id="status"></td>
    </tr>
    <tr>
      <th > 입장 가능 매너 온도</th>
      <td th:text="${resMatchupBoardDto.minMannerTemperature}"></td>
    </tr>
    <tr>
      <th>내 매너 온도</th>
      <td th:text="${resMatchupBoardDto.myTemperature}"></td>
    </tr>
  </table>
  <th:block th:if="${resMatchupBoardDto.writer == #authentication.name}">
    <a th:href="@{/matchup/board/edit(boardId=${resMatchupBoardDto.boardId})}" id="modify">수정하기</a>

  </th:block>
  <th:block th:unless="${resMatchupBoardDto.writer == #authentication.name}">
    <a th:href="@{/matchup/}">문의하기</a>
    <a th:href="@{#}">참가요청</a>
  </th:block>

</div>

<div th:replace="~{common/footer::footer}"></div>

</body>
</html>