<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATCHON</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <style>
        a {
          display:block;
        }
    </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <h1>MATCHUP 글 목록</h1>
    <a th:href="@{/matchup/board/my}">내가 작성한 글 목록</a>
    <a th:href="@{/matchup/request/my}">내가 요청한 목록</a>


    <a th:href="@{/matchup/board/register}">글 작성하기</a>
    <a th:href="@{/matchup/board/detail}">글 상세보기</a>
    <a th:href="@{#}" disabled="true">문의하기</a>


</div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>