<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MATCHON</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('matchon.kakao-api')}+'&libraries=services'"></script>
  <script th:src="@{/js/matchup/matchup-rating-register.js}" defer></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-rating-register.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">


  <style>
    a {
      display:block;
    }
  </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
  <h1>MATCHUP 참가 요청 작성</h1>
  <table>
    <tr>
      <th>평가자 </th>
      <td th:text="${resMatchupRatingDto.evalName}"></td>
    </tr>
    <tr>
      <th>평가 대상</th>
      <td th:text="${resMatchupRatingDto.targetName}"></td>
    </tr>
  </table>

  <form th:object="${resMatchupRatingDto}" th:action="@{/matchup/rating/register}" method="post" >
    <input type="hidden" th:field="*{boardId}"/>
    <input type="hidden" th:field="*{evalId}"/>
    <input type="hidden" th:field="*{targetId}"/>

    <label>
      매너 점수
      <select th:field="*{mannerScore}">
        <option th:value="1">1</option>
        <option th:value="2">2</option>
        <option th:value="3">3</option>
        <option th:value="4">4</option>
        <option th:value="5">5</option>
      </select>
    </label>
    <label>
      실력 점수
      <select th:field="*{skillScore}">
        <option th:value="1">1</option>
        <option th:value="2">2</option>
        <option th:value="3">3</option>
        <option th:value="4">4</option>
        <option th:value="5">5</option>
      </select>
    </label>
    <label>
      리뷰
      <textarea placeholder="리뷰를 입력하세요." th:field="*{review}" required maxlength="300">
        </textarea>
    </label>

    <div class="button-wrapper">
      <button type="submit">등록하기</button>
      <button type="button" class="cancel-btn" th:onclick="|location.href='@{/matchup/rating/page(boardId=*{boardId})}'|">취소하기</button>
    </div>

  </form>
  </div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>