<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATCHON</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('matchon.kakao-api')}+'&libraries=services'"></script>
    <script th:src="@{/js/matchup/matchup-request-edit.js}" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/matchup/matchup-request-edit.css}">

    <style>
        a {
            display:block;
        }
    </style>
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <h1>MATCHUP 참가 요청 수정</h1>
    <div id="matchup-request-register-dto"
         th:data-sports-type-name="${resMatchupRequestDto.sportsTypeName}"
         th:data-sports-facility-name = "${resMatchupRequestDto.sportsFacilityName}"
         th:data-sports-facility-address="${resMatchupRequestDto.sportsFacilityAddress}"
         th:data-match-datetime="${resMatchupRequestDto.matchDatetime}"
         th:data-match-duration="${resMatchupRequestDto.matchDuration}"
         th:data-current-participant-count="${resMatchupRequestDto.currentParticipantCount}"
         th:data-max-participants="${resMatchupRequestDto.maxParticipants}"
         th:data-participant-count="${resMatchupRequestDto.participantCount}"
    >
    </div>
    <table>
        <tr>
            <th>종목: </th>
            <td th:text="${resMatchupRequestDto.sportsTypeName}"></td>
        </tr>
        <tr>
            <th>경기장명:</th>
            <td th:text="${resMatchupRequestDto.sportsFacilityName}"></td>
        </tr>
        <tr>
            <th>경기장 주소:</th>
            <td th:text="${resMatchupRequestDto.sportsFacilityAddress}"></td>
        </tr>
        <tr>
            <th>경기장 위치</th>
            <td>
                <div id="map" style="width:100%;height:350px;"></div>
            </td>
        </tr>
        <tr>
            <th>경기 날짜</th>
            <td id="match-date"></td>
        </tr>
        <tr>
            <th>현재 정원</th>
            <td th:text="${'('+ resMatchupRequestDto.currentParticipantCount + ' / '+resMatchupRequestDto.maxParticipants + ')'}"></td>
        </tr>
        <tr>
            <th>요청 상태:</th>
            <td th:text="${resMatchupRequestDto.matchupStatus}"></td>
        </tr>
    </table>

    <form th:object="${resMatchupRequestDto}" th:action="@{/matchup/request/edit(request-id=${resMatchupRequestDto.requestId})}" method="post" >
        <input type="hidden" th:field="*{requestId}"/>
        <label>
            소개:
            <input type="text" th:text="*{selfIntro}" th:field="*{selfIntro}" placeholder="자기 소개를 입력하세요." required>
        </label>
        <label>
            참가 인원:
            <select size="5"  th:field="*{participantCount}" required></select>
        </label>

        <button type="submit">수정하기</button>
        <button type="button" class="delete-btn">삭제하기</button>
    </form>
</div>

<div th:replace="~{common/footer::footer}"></div>

</body>
</html>