body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}
.hero {
    background: url('/img/soccer.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
}
.hero-text {
    position: relative;
    top: 17%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.logo{
    position: relative;
    top:-30px;
    height: 250px;
}

.navbar .center a{
    display: inline-block;
    margin: 27px 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size:24px;
}

.navbar .icons img{
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 27px 15px;
    cursor: pointer;
}

.navbar .auth a{
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 17px 15px;
}

.auth .btn{
    padding: 20px 30px;
    border: solid white 1px;
    border-radius: 10px;
}

.hero-text h1 {
    margin: 0.80px 0;
    font-size:120px
}
.hero-text button {
    padding: 25px 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size:24px;
}
.footer {
    position: fixed; /* 푸터를 고정 */
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    padding: 10px;
    /*background-color: #E7EBE8;*/
    color: white;
    margin-top: auto; /* footer가 항상 하단에 있도록 설정 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

#chatbot-img{
    position: fixed;
    right: 2%;
    bottom: 8%;
}

df-messenger {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
}