<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>

<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <h2>로그인 페이지</h2>
    <form th:action="@{/auth/login}" method="post" >
        <input type="email" name="email" placeholder="이메일" required /><br/>
        <input type="password" name="password" placeholder="비밀번호" required /><br/>
        <button type="submit">로그인</button>
    </form>
</div>

<div th:replace="~{common/footer::footer}"></div>
</body>
</html>