<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MATCHON - 팀 수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <script th:src="@{/js/team/team-edit.js}" defer></script>
</head>
<body>

<div th:replace="~{common/header::header}"></div>

<div id="wrap">
    <h1>팀 수정</h1>

    <form th:action="@{/team/team/update}"  method="post" enctype="multipart/form-data" th:object="${ReqTeamDto}">


        <input type="hidden" th:field="*{teamId}" />

        <div th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <label for="teamName">팀명</label>
        <input type="text" th:field="*{teamName}" id="teamName" required />

        <label>팀원 모집 여부:</label>
        <input type="radio" th:field="*{recruitmentStatus}" value="true" /> 모집 중
        <input type="radio" th:field="*{recruitmentStatus}" value="false" /> 모집 완료

        <label for="teamIntroduction">팀 소개</label>
        <textarea th:field="*{teamIntroduction}" id="teamIntroduction" rows="4"></textarea>

        <label>팀 지역</label>
        <div>
            <label><input type="radio" th:field="*{teamRegion}" value="CAPITAL_REGION" /> 수도권</label><br/>
            <label><input type="radio" th:field="*{teamRegion}" value="YEONGNAM_REGION" /> 영남권</label><br/>
            <label><input type="radio" th:field="*{teamRegion}" value="HONAM_REGION" /> 호남권</label><br/>
            <label><input type="radio" th:field="*{teamRegion}" value="CHUNGCHEONG_REGION" /> 충청권</label><br/>
            <label><input type="radio" th:field="*{teamRegion}" value="GANGWON_REGION" /> 강원권</label><br/>
            <label><input type="radio" th:field="*{teamRegion}" value="JEJU" /> 제주</label>
        </div>

        <label>필요 포지션</label>
        <div>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="GOALKEEPER" /> 골키퍼</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="CENTER_BACK" /> 센터백</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="LEFT_RIGHT_BACK" /> 풀백</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="LEFT_RIGHT_WING_BACK" /> 윙백</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="CENTRAL_DEFENSIVE_MIDFIELDER" /> CDM</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="CENTRAL_MIDFIELDER" /> CM</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="CENTRAL_ATTACKING_MIDFIELDER" /> CAM</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="LEFT_RIGHT_WING" /> 윙</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="STRIKER_CENTER_FORWARD" /> ST</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="SECOND_STRIKER" /> 세컨드 스트라이커</label><br/>
            <label><input type="checkbox" th:field="*{recruitingPositions}" value="LEFT_RIGHT_WINGER" /> 와이드 윙어</label>
        </div>

        <label>팀 이미지</label>
        <input type="file" name="teamImageFile" accept="image/*" />

        <button type="submit">수정 완료</button>
        <button type="button" onclick="history.back()">취소</button>
    </form>
</div>

<div th:replace="~{common/footer::footer}"></div>

</body>
</html>
